
# Python 缓存
__pycache__/
*.pyc

# 模型权重
checkpoints/

# 数据集
dataset/

# 实验结果
results/
test_results/

# 日志与临时文件
*.log
*.txt
*.npy
*.npz

# Mac 系统文件
.DS_Store

Affirm_Forecasting.py
BI-IDMB分析.md
IDMB说明.md
豆包分析.md
affirm项目的copilot上的AI分析.md
mamba_simple.py
affirm项目AI分析.md
print_model.py
